<?xml version="1.0"?>
<BaseConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Dbconnectstring>Host=172.30.205.37;Port=5432;Database=dnt3;User ID=postgres;Password=12345678;Pooling=true;</Dbconnectstring>
  <Tableprefix>dnt_</Tableprefix>
  <Forumpath>/</Forumpath>
  <Dbtype>PostgreSQL</Dbtype>
  <Founderuid>0</Founderuid>
</BaseConfigInfo>